<div class="container-fluid c-fluid">
  <div class="container">
      <div class="row"></div>
      <div class="row">
        <div class="card bg-light mb-3 container-fluid p-0 mb-5 border-0">
          <div class="card-header header-to-black to-orbitron pt-4"><h1>We're almost there...</h1></div>
          <img class="card-img img-fluid" src="http://a.espncdn.com/combiner/i?img=/photo/2017/0316/r190764_2_800x450_16-9.jpg&w=800">
          <div class="card-body text-center choco-border">
            <p class="lead to-orbitron">Double-check the info below, make sure you're headed where you think you're headed! Once you're ready to go, confirm by clicking the big ol' button below.</p>
                      <hr class="my-4">

                        <p class="sz">Your Destination - <span class="font-weight-bold">{{finalPlanet | uppercase}}</span></p>
                        <p class="sz">Your Resort - <span class="font-weight-bold">{{finalHotel}}</span></p>
                        <p class="sz">Our Final Offer - <span class="font-weight-bold">{{finalPrice}}</span></p>
            
            
  
            
            <div class="mt-5 mb-3" style="text-align:center;">
              <button type="button" class="pl-3 pr-3 btn btn-lg p-4 book-trip-button to-orbitron go-white font-weight-bold"><a class="go-white" routerLink="/recap">Confirm my reservation !</a></button>
            </div>
  
          </div>
        </div>
      </div>
      <div class="row"></div>
  </div>
</div>