<div class="container planet-characteristic">
  <div class="row">
      <div class="col-12 col-lg-3">
        <img class="w-100 card-jupiter card-image" src={{image}} alt="card-jupiter">     
      </div>
      <div class="col-12 col-lg-9">
          <h6 class="card-title">You've chosen {{givenPlanet | uppercase}} as your destination !</h6>
          <p class="card-text">- Orbit Speed : {{char1}} x 10^16 km/h</p>
          <p class="card-text">- Mass : {{char2}} x 10^13 Tonnes</p>
          <p class="card-text">- Circonference : {{char3}} x 10^12 km</p>
          <p class="card-text">- Diameter : {{char4}} x 10^7 km</p>
      </div>
  </div>
</div>



<div class="container"><hr></div>


<div class="container h4 border-0">
      <h4>Which hotel will you stay at ?</h4>
</div>


<div class="container hotel-resume">
<div class="row">
  <div class="card-hotel col-12 col-lg-8">
      <h5 class="card-title-hotel">Jiva Hill Park Hotel {{givenPlanet | uppercase}}</h5>
      <p class="card-text-hotel">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <small class="text-avis">Avis<div class="stars d-inline">&#9733;&#9733;&#9733;&#9733;</div>&#9733;</small></div>
    <div class="card-picture col-12 col-lg-4">
        <img class="w-100" src="/assets/hotels_pictures/hotel1.jpg" alt="Card image cap">
        <button type="button" class="btn btn-danger">- 41%</button>
    </div>
  </div>

<div class="row button-hotel justify-content-center">
  <button type="button" class="btn btn-dark"><a on-click="jivaHill(); scrollTop()" id="to-white" routerLink="/descriptifhotel">View details</a></button>
  

</div> 

</div>

<div class="container"><hr></div>

<div class="container hotel-resume">
<div class="row">
  <div class="card-hotel col-12 col-lg-8">
      <h5 class="card-title-hotel">Hotel Imperial Garoupe {{givenPlanet | uppercase}}</h5>
      <p class="card-text-hotel">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <small class="text-avis">Avis<div class="stars d-inline">&#9733;&#9733;&#9733;&#9733;&#9733;</div></small></div>
    <div class="card-picture col-12 col-lg-4">
        <img class="w-100" src="/assets/hotels_pictures/hotel2.jpg" alt="Card image cap">
        <button type="button" class="btn btn-danger">- 27%</button>
    </div>
</div>
<div class="row button-hotel justify-content-center">
  <button type="button" class="btn btn-dark"><a on-click="imperialGaroupe(); scrollTop()" id="to-white" routerLink="/descriptifhotel">View details</a></button>
</div> 
</div>

<div class="container "><hr></div>

<div class="container hotel-resume">
<div class="row">
  <div class="card-hotel col-12 col-lg-8">
      <h5 class="card-title-hotel">Hotel InterContinental Carlton {{givenPlanet | uppercase}}</h5>
      <p class="card-text-hotel">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <small class="text-avis">Avis<div class="stars d-inline">&#9733;&#9733;&#9733;&#9733;</div>&#9733;</small></div>
    <div class="card-picture col-12 col-lg-4">
        <img class="w-100" src="assets/hotels_pictures/hotel3.jpg" alt="Card image cap">
        <button type="button" class="btn btn-danger">- 33%</button>
    </div>
</div>
<div class="row button-hotel justify-content-center">
  <button type="button" class="btn btn-dark"><a on-click="intercontinentalCarlton(); scrollTop()" id="to-white" routerLink="/descriptifhotel">View details</a></button>
</div> 
</div>

<div class="container"><hr></div>

<div class="container hotel-resume">
<div class="row">
  <div class="card-hotel col-12 col-lg-8">
      <h5 class="card-title-hotel">Hotel Le Richelieu {{givenPlanet | uppercase}}</h5>
      <p class="card-text-hotel">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <small class="text-avis">Avis<div class="stars d-inline">&#9733;&#9733;&#9733;&#9733;&#9733;</div></small></div>
    <div class="card-picture col-12 col-lg-4">
        <img class="w-100" src="assets/hotels_pictures/hotel6.jpg" alt="Card image cap">
        <button type="button" class="btn btn-danger">- 19%</button>
    </div>
</div>
<div class="row button-hotel justify-content-center">
  <button type="button" class="btn btn-dark"><a on-click="leRichelieu(); scrollTop()" id="to-white" routerLink="/descriptifhotel">View details</a></button>
</div> 
</div>

<div class="container"><hr></div>

<div class="container hotel-resume">
<div class="row">
  <div class="card-hotel col-12 col-lg-8">
      <h5 class="card-title-hotel">Great Hotel de Cala Rossa {{givenPlanet | uppercase}}</h5>
      <p class="card-text-hotel">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <small class="text-avis">Avis<div class="stars d-inline">&#9733;&#9733;&#9733;</div>&#9733;&#9733;</small></div>
    <div class="card-picture col-12 col-lg-4">
        <img class="w-100" src="assets/hotels_pictures/hotel7.jpg" alt="Card image cap">
        <button type="button" class="btn btn-danger">- 27%</button>
    </div>
</div>
<div class="row button-hotel justify-content-center">
  <button type="button" class="btn btn-dark"><a on-click="calaRossa(); scrollTop()" id="to-white" routerLink="/descriptifhotel">View details</a></button>
</div> 
</div>

<div class="container"><hr></div>

<div class="container hotel-resume">
<div class="row">
  <div class="card-hotel col-12 col-lg-8">
      <h5 class="card-title-hotel">Hotel Don Cesar & Spa {{givenPlanet | uppercase}}</h5>
      <p class="card-text-hotel">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <small class="text-avis">Avis<div class="stars d-inline">&#9733;&#9733;&#9733;&#9733;&#9733;</div></small></div>
    <div class="card-picture col-12 col-lg-4">
        <img class="w-100" src="assets/hotels_pictures/hotel8.jpg" alt="Card image cap">
        <button type="button" class="btn btn-danger">- 47%</button>
    </div>
</div>
<div class="row button-hotel justify-content-center">
  <button type="button" class="btn btn-dark"><a on-click="donCesar(); scrollTop()" id="to-white" routerLink="/descriptifhotel">View details</a></button>
</div> 
</div>

<div class="container"><hr></div>

<div class="container hotel-resume">
<div class="row">
  <div class="card-hotel col-12 col-lg-8">
      <h5 class="card-title-hotel">Hotel Vista Palace {{givenPlanet | uppercase}}</h5>
      <p class="card-text-hotel">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <small class="text-avis">Avis<div class="stars d-inline">&#9733;&#9733;&#9733;</div>&#9733;&#9733;</small></div>
    <div class="card-picture col-12 col-lg-4">
        <img class="w-100" src="assets/hotels_pictures/hotel4.jpg" alt="Card image cap">
        <button type="button" class="btn btn-danger">- 21%</button>
    </div>
</div>
<div class="row button-hotel justify-content-center">
  <button type="button" class="btn btn-dark"><a on-click="vistaPalace(); scrollTop()" id="to-white" routerLink="/descriptifhotel">View details</a></button>
</div> 
</div>

<div class="container"><hr></div>

<div class="container hotel-resume">
<div class="row">
  <div class="card-hotel col-12 col-lg-8">
      <h5 class="card-title-hotel">Hotel B Design et Spa {{givenPlanet | uppercase}}</h5>
      <p class="card-text-hotel">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <small class="text-avis">Avis<div class="stars d-inline">&#9733;&#9733;&#9733;&#9733;&#9733;</div></small></div>
    <div class="card-picture col-12 col-lg-4">
        <img class="w-100" src="assets/hotels_pictures/hotel5.jpg" alt="Card image cap">
        <button type="button" class="btn btn-danger">- 34%</button>
    </div>
</div>
<div class="row button-hotel justify-content-center">
  <button type="button" class="btn btn-dark"><a on-click="designSpa(); scrollTop()" id="to-white" routerLink="/descriptifhotel">View details</a></button>
</div> 
</div>

<div class="container"><hr></div>

<div class="container hotel-resume">
<div class="row">
  <div class="card-hotel col-12 col-lg-8">
      <h5 class="card-title-hotel">Miramar Shopping Hotel {{givenPlanet | uppercase}}</h5>
      <p class="card-text-hotel">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <small class="text-avis">Avis<div class="stars d-inline">&#9733;&#9733;&#9733;&#9733;</div>&#9733;</small></div>
    <div class="card-picture col-12 col-lg-4">
        <img class="w-100" src="assets/hotels_pictures/hotel9.jpg " alt="Card image cap">
        <button type="button" class="btn btn-danger">- 41%</button>
    </div>
</div>
<div class="row button-hotel justify-content-center">
  <button type="button" class="btn btn-dark"><a on-click="miramar(); scrollTop()" id="to-white" routerLink="/descriptifhotel">View details</a></button>
</div> 
</div>

<div class="container"><hr></div>