<div class="container-fluid d-flex justify-content-center container-form col-lg-3 mb-5">
  <div class="row align-items-center">
    <form class="d-block ">

      <div class="form-group">
        <label for="exampleFormControlSelect1">
          <h4>Destinations</h4>
        </label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select</option>
          <option>Mercury</option>
          <option>Venus</option>
          <option>Earth</option>
          <option>Mars</option>
          <option>Jupiter</option>
          <option>Saturn</option>
          <option>Uranus</option>
          <option>Neptune</option>
          <option>Pluto</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">
          <h4>Types of pensions</h4>
        </label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select</option>
          <option>Single rooms</option>
          <option>Breakfast</option>
          <option>Half pension</option>
          <option>Full pension</option>
          <option>All inclusive</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">
          <h4>Number of adults</h4>
        </label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>


        <div class="form-group">
          <label for="exampleFormControlSelect1">
            <h4>Number of children</h4>
          </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Select</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">
            <h4>Types of rooms</h4>
          </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Select</option>
            <option>Single room</option>
            <option>Double room</option>
            <option>Double room with twin beds</option>
            <option>Business and family rooms</option>
            <option>Suites or apartments</option>
          </select>
        </div>
        <div class="search"><button type="button" class="btn btn-dark">Search</button>
        </div>
    </form>
  </div>
</div>